@import "tailwindcss";

#app {
  max-width: 800px;
  margin: 0 auto;
}

body {
  background-color: #1d1d1d;
}

* {
  color: white;
}

/* blue-950 */
.dark-blue {
  background-color: #172554;
}

/* blue-500 */
.blue {
  background-color: #3b82f6;
}

button {
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

